* {
  color: white;
  margin: auto;
  width: 500px;
  padding: 3px;
}

body {
  background-color: black;
}

.back:hover {
  color: blueviolet;
  transition: all 0.5s ease;
}

.link:hover {
  color: rgb(211, 132, 41);
  transition: all 0.5s ease;
}
